{% extends 'base.html' %}
{% block content %}
<html lang="en">
<ul>
    <li>
        <a href="{% url 'document_one' %}"></a>
    </li>
    <li>
        <a href="{% url 'document_two' %}"></a>
    </li>
</ul>

    <p>Uploaded files(one): </p>
    <ul>
        {% for obj in documents_one %}
        <li>
            <a href="{{ obj.document.url }}"> {{ obj.document.name }} </a>, Uploaded at: {{ obj.uploaded_at }}
        </li>
        {% endfor %}
    </ul>

    <p>Uploaded files(two): </p>
    <ul>
        {% for obj in documents_two %}
        <li>
            <a href="{{ obj.document.url }}"> {{ obj.document.name }} </a>, Uploaded at: {{ obj.uploaded_at }}
        </li>
        {% endfor %}
    </ul>
{% endblock %}